body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    margin: 0;

}

.me {
    position: relative;

}

.nothing {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 26px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 900;
    font-size: large;
    background-color: rgb(157 144 144);
    border: 1px #937878 dashed
}

.nothing p {
    margin: auto;
}

.info {
    position: absolute;
    background-color: yellow;
    margin-top: 66px;
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: auto;
    display: flex;

}



.info-nav {
    position: relative;
    width: 20%;
    background-color: red;
    text-overflow: ellipsis;


}

#name,
#about,
#expe,
#edu {
    padding-top: 90px;
    margin-left: 10%;


}

.info-show {
    position: relative;
    background-color: blue;
    width: 80%;
    height: auto;

}

#show-about,
#show-expe,
#show-edu {
    padding-left: 10px;
    display: none;
}

.info-nav:hover #info-show {
    display: inline;
}